@maincolor:#03A9F4;
body.front{
    background-color: #F9F9F9;
    padding-top:70px;
}
header.front{
    margin-top:10px;
    margin-bottom: 20px;
}
.front nav.navbar{
    background-color:@maincolor;
    box-shadow: 0 2px 6px rgba(3,169,244,0.2);
}
.front .navbar .navbar-brand{
    color:#ffffff;
}
.front .navbar-nav li a{
    color:#ffffff;
}
.front .navbar-nav li a:hover{
    color:#dddddd;
}
#webname{
    color:#777;
    font-size:24px;
}
#webdesc{
    color:#777;
    text-indent:2em;
    margin-bottom: 10px;
}
.front a{
    color:#333;
}
.front .container{
    max-width:980px;
}
.front .posts{
    border-right:1px solid #eee;
}
.front article.post{
    margin-top:0px;
    margin-bottom:25px;
    h3{
        margin-top:2px;
        a{
            transition: all 0.5s;
            color:#212121;
            padding-bottom:2px;
            font-weight:bold;
            &:hover{
                color:#0288D1;
                text-decoration: none;
                margin-left:10px;
            }
        }
    }
    .post-meta{
        list-style:none;
        font-size: 14px;
        color:#999;
        padding:6px 1px 10px 0;
        border-bottom:4px solid @maincolor;
        margin-bottom: 10px;
        li{
            float:left;
            margin-right:15px;
        }
    }
    .post-content{
        p{
            line-height: 1.8em;
        }
        pre{
            margin-left:-15px;
            margin-right:-15px;
            border:none;
            border-radius:0;
            word-break:normal;
            word-wrap:normal;
            white-space: pre;
            code{
                white-space: pre;
                word-spacing: normal;
                word-break: normal;
            }
        }
    }
}
.front footer{
    border-top:1px solid #ececec;
    padding:20px 0;
    text-align:center;
    .container{
        margin-bottom: 0px;
    }
}
.pagination .active span{
    background-color:@maincolor;
}

#scrollToTop{
    display: none;
    position: fixed;
    bottom: 80px;
    right: 20px;
    font-size: 16px;
    width: 50px;
    height: 50px;
    background-color: #B6B6B6;
    text-align: center;
    line-height: 50px;
    border-radius: 25px;
}

::-webkit-scrollbar {
    width: 10px;
    height:10px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: rgba(3,169,188,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(3,169,188,0.4);
}